@import "../../styles/variables";

.catalog {
  &__title {
    color: $dark;
    font-size: 3rem;
    margin-bottom: 30px;
  }
}

.itens {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}
